@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


/*Padrão site*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Lexend;
    text-decoration: none;
    color: #fff;
    
    
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1F2026;
}


/* scrollbar */
body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #1F2026;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #0D6EFF;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
}

/*Primeira parte*/
.background {
    background: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#sobre .home_button{
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #3333336c;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    z-index: 99999;
}

/*MENU MOBILE*/
.mobile-menu{
    display: none;
}

.mobile-menu div{
    width:32px;
    height:1px;
    background-color:#fff;
    margin:8px;
    transition:.4s
}

#menu.active .mobile-menu .line1{
    transform:rotate(-45deg) translate(-8px, 8px)
}
#menu.active .mobile-menu .line2{
    opacity:0
}






#menu.active .mobile-menu .line3{
    transform:rotate(45deg) translate(-5px, -5px)
}
/*-----------------------------------------*/

nav {
    display: flex;
    padding: 24px 30px;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 100px;
}

#nav-list {
    display: flex;
    gap: 6rem;
}

nav ul {
    display: flex;
    gap: 3rem;
}
nav ul a{
    transition: all .3s ease-in-out;
}
nav ul a:hover{
    color: #0D6EFF;
}
.informacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
}

.logo-imagen img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.inf-text {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inf-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
}

.redes {
    width: 400px;
    height: 70px;
    background: #4d4d4d60;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
}

.redes a {
    transition: transform 500ms;
}

.redes a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.fa-redes-icon {
    display: flex;
    padding-top: 20px;
    font-size: 30px;
    transition: all .3s ease-in-out;
}

.fa-redes-icon:hover {
    color: #0D6EFF;
}

.fa-instagram {
    font-size: 30px;
}

#btn-mobile {
    display: none;
    width: 50px;
}



/*Sobre*/

.titulo {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.titulo h1 {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 14.911px;
}

.titulo h2 {
    color: #FFF;
    font-family: DM Sans;
    font-size: 25.274px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    padding-top: 100px;
    gap: 60px;
}

.sobre-conteudo img {
    width: 300px;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
}

.conteudo-sobre h1 {
    margin-bottom: 5%;
}

.conteudo-sobre h3 {
    margin-bottom: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
}

.conteudo-sobre p {
    width: 571px;
    color: #fff;
    text-align: justify;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    /* 160% */
}

/*Conhecimentos*/
.conhecimentos {
    background: #1A1A1D;
    width: 100%;
}

.conteudo-conhecimentos {
    display: flex;
    align-items: center;
    width: 1191px;
    height: 551px;
    background: #2E2E36;
    border: 10px solid rgba(0, 0, 0, 0.514);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-bottom: 100px;
    gap: 30px;
}

.texto-conhe {
    text-align: left;
    padding-left: 60px;
    width: 550px;
}

.texto-conhe h1 {
    padding-bottom: 20px;
}

.texto-conhe p {
    color: white;

}

.linguagens {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.linguagen {
    width: 80px;
    height: 80px;
    background-color: #1A1A1D;
    border-radius: 9px;
    transition: 500ms;
}

.fa-conhe-icon {
    font-size: 40px;
    padding: 22px 0;
    transition: all .3s ease-in-out;
}

.linguagen:hover .fa-conhe-icon{
    color: #0D6EFF
}

.linguagen:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hide {
    display: none;
}

/*Projetos*/

.content-projeto{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.card{
    padding: 10px 20px;
    border: 2px solid #0D6EFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 9px;
}
.card h1{
    font-size: 24px;
    font-weight: 200;
}
.card img{
    width: 250px;
    border-radius: 5px;
}

.card a{
    background-color: #0D6EFF;
    padding: 9px 25px;
    border-radius: 9px;
}

.card a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.link-repositorio a{
    margin-top: 30px;
    padding: 15px 20px;
    border: 2px solid #0D6EFF;
    border-radius: 9px;
    transition: all .3s ease-in-out;
}

.link-repositorio a:hover{
    background-color: #0d6effbb;
}

/* Servicos */

.servicos{
    background-color: #1A1A1D;
}

.content-servico{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.content-servico .card{
    width: 100%;
    border: 2px solid #0D6EFF;
    cursor: pointer;
}

.content-servico .servico{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-contratar{
    margin-top: 50px;
}
.link-contratar a{
    padding: 15px 20px;
    border: 2px solid #0D6EFF;
    border-radius: 9px;
    transition: all .3s ease-in-out;
}
.link-contratar a:hover{
    background-color: #0d6effbb;
}

/* Footer */

footer{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-content{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
footer .footer-content .redes-footer{
    display: flex;
    font-size: 12px;
    gap: 1rem;
    margin-left: 100px;
}
footer .footer-content .redes-footer a i{
    font-size: 24px;
}
footer .footer-content img{
    width: 100px;
}



/*Botão Home*/

.link-home {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 5px #0D6EFF, 0 0 20px #0D6EFF, 0 0 40px #0D6EFF;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    z-index: 1000;
    transition: all 1s;
}

#home1 {
    margin-top: 13px;
}


.link-home::before,
.link-home:after {
    content: '';
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    top: -3px;
    left: -3px;
    border: 2px solid #1fb61f;
    border-radius: 50%;
    opacity: 0;
    animation: animacao-botao-home 1.5s linear infinite;
}

.button button:after {
    animation-delay: .5s;
}
